.field {
  max-width: 800px;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-template-rows: repeat(4, auto);
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 50px;
}

body {
  width: 100%;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
}

#root {
  height: 100vh;
}
